body {
  background: linear-gradient(to right, rgb(76, 76, 77), rgb(222, 222, 237));
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 455px) {
  body {
    background: linear-gradient(
      to right,
      rgb(243, 243, 246),
      rgb(160, 160, 223)
    );
  }
  .container {
    flex-direction: column;
  }
}

.title {
  color: rgb(7, 3, 49);
}
.card {
  background: linear-gradient(
    to left,
    rgb(105, 114, 115),
    rgba(212, 216, 218, 0.875)
  );
  width: 340px;
  height: 550px;
  border-radius: 10px;
  margin: 10px;
}
.image {
  padding: 10px;
}
.image img {
  border-radius: 10px;
}
.content p {
  color: rgb(7, 7, 7);
}
.content {
  padding: 10px;
}
.capsules {
  padding: 0 25px;
}
.capsules span {
  border: 1px solid gray;
  padding: 6px 1pc;
  border-radius: 20px;
}
.button {
  text-align: center;
}
.button button {
  padding: 9px 15px;
  border-radius: 20px;
  background-color: rgb(196, 213, 245);
  color: rgb(43, 56, 235);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(19, 94, 234);
  color: rgb(3, 3, 16);
}
.card:hover {
  box-shadow: 2px 1px 10px rgb(224, 214, 214);
}
